{% extends 'base.html' %}

{% block title %} Edit Product {% endblock %}

{% block content %}
  <h2>Edit Product</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'product_daily_list' %}" class="btn btn-secondary">Cancel</a>
  </form>

  <!-- DELETE tugmasi -->
  <form method="post" action="{% url 'product_daily_edit' product_daily.pk %}" style="margin-top: 10px;">
    {% csrf_token %}
    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
  </form>
{% endblock %}
