{% extends 'base.html' %}

{% block title %} Edit Employee {% endblock %}

{% block content %}
  <h2>Edit Employee</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>
  </form>

  <!-- DELETE tugmasi -->
  <form method="post" action="{% url 'employee_edit' employee.pk %}" style="margin-top: 10px;">
    {% csrf_token %}
    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
  </form>
{% endblock %}
